---
import Btn from "../assets/Btn.astro";

const { data } = Astro.props;
---

<section id={data.id}>
  <div>
    <h2 class="h3">{data.title}</h2>
    <h3 class="h4 text_blue">{data.subtitle}</h3>
  </div>
  <div class="flex_container">
    <div class="article_container">
      <article>
        <div>
          <p>{data.description}</p>
          <div class="flex_container2">
            <div>
              <h4 class="h4">Instagram</h4>
              <Btn href={data.insta1} variant="primary" target="_blank">
                {data.btn_text}
              </Btn>
            </div>

            {
              data.btn_text2 && (
                <div>
                  <h5 class="h4">Website</h5>
                  <Btn href={data.web1} variant="secondary" target="_blank">
                    {data.btn_text2}
                  </Btn>
                </div>
              )
            }
          </div>
        </div>
      </article>
      <article>
        <p>{data.description2}</p>
        <div class="flex_container2">
          {
            data.btn_text3 && (
              <div>
                <h3 class="h4">Instagram</h3>
                <Btn href={data.insta2} variant="secondary" target="_blank">
                  {data.btn_text3}
                </Btn>
              </div>
            )
          }
          {
            data.btn_text4 && (
              <div>
                <h3 class="h4">Website</h3>
                <Btn href={data.web2} variant="secondary" target="_blank">
                  {data.btn_text4}
                </Btn>
              </div>
            )
          }
        </div>
      </article>
    </div>
    <div class="video_container">
      <video id="myVideo" src={data.video}>Your browser does not support the video tag.</video>
      <button id="playButton">▶</button>
    </div>
  </div>
</section>

<style>
  .flex_container2 div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-64);
  }
  .flex_container2 {
    display: flex;
    flex-direction: row;

    gap: var(--gap-64);
  }
  .article_container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-48);
  }
  .video_container {
    position: relative;
    width: 360px;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-8);
  }
  video {
    width: 400px;
    height: 500px;
  }

  #playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .flex_container {
      flex-direction: column;
      align-items: center;
    }
    .video_container {
      width: 70%;
    }
  }
</style>

<script>
  const video = document.getElementById("myVideo");
  const playButton = document.getElementById("playButton");

  playButton.addEventListener("click", () => {
    video.play();
    playButton.style.display = "none";
  });
</script>
