---
import Btn from "../assets/Btn.astro";

const { data } = Astro.props;
---

<section id={data.id}>
  <div>
    <h2 class="h3">{data.title}</h2>
    <h3 class="h4">{data.subtitle}</h3>
  </div>
  <div class="flex_container">
    <div class="article_container">
      <article class="afsnit">
        <p>{data.description}</p>
        <div class="flex_container2">
          <div class="height">
            <h4 class="h4">Instagram</h4>
            <Btn href={data.insta1} variant="primary" target="_blank">
              {data.btn_text}
            </Btn>
          </div>

          {
            data.btn_text2 && (
              <div>
                <h5 class="h4">Website</h5>
                <Btn href={data.web1} variant="secondary" target="_blank">
                  {data.btn_text2}
                </Btn>
              </div>
            )
          }
        </div>
      </article>
      <article class="afsnit">
        <p>{data.description2}</p>
        <div class="flex_container2">
          {
            data.btn_text3 && (
              <div>
                <h3 class="h4">Instagram</h3>
                <Btn href={data.insta2} variant="secondary" target="_blank">
                  {data.btn_text3}
                </Btn>
              </div>
            )
          }
          {
            data.btn_text4 && (
              <div>
                <h3 class="h4">Website</h3>
                <Btn href={data.web2} variant="secondary" target="_blank">
                  {data.btn_text4}
                </Btn>
              </div>
            )
          }
        </div>
      </article>
    </div>
    <div class="video_container">
      <video class="video_player" loading="lazy" src={data.video}>Your browser does not support the video tag.</video>
      <button class="play_button">▶</button>
    </div>
  </div>
</section>

<style>
  .flex_container2 div {
    display: flex;
    flex-direction: column;
  }
  .flex_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-48);
  }
  .flex_container2 {
    display: flex;
    flex-direction: row;
    gap: var(--gap-48);
  }
  .afsnit {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
  }
  .article_container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-64);
  }
  .video_container {
    position: relative;
    object-fit: cover;
  }

  .play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 700px) {
    .flex_container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .article_container {
      max-width: 600px;
    }
    .video_container {
      max-width: 400px;
      width: 100%;
    }
    .video_player {
      width: 100%;
      height: auto;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const containers = document.querySelectorAll(".video_container");

    containers.forEach((container) => {
      const video = container.querySelector(".video_player");
      const playButton = container.querySelector(".play_button");

      playButton.addEventListener("click", () => {
        if (video.paused) {
          video.play();
        } else {
          video.pause();
        }
      });
      // Skjul knap
      video.addEventListener("play", () => {
        playButton.style.display = "none";
      });

      // Vis knap
      video.addEventListener("pause", () => {
        playButton.style.display = "flex";
      });

      video.addEventListener("click", () => {
        if (video.paused) {
          video.play();
        } else {
          video.pause();
        }
      });
    });
  });
</script>
